<div>
  <form [formGroup]="form">
    <div class="historia-header">
      <div class="row">
        <div class="col-sm-9">
          <p class="mb-0 ml-3">
            Historia clinica
          </p>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-default btn-sm btn-edit" (click)="editMedicalHistory()">
            {{msgEditMedical}}
          </button>
        </div>
      </div>
    </div>

    <!--Antecedentes familiares-->
    <div formGroupName="AntecedentesFamiliares">
      <button class="accordion" (click)="isCollapsedAntFam = !isCollapsedAntFam"
              [attr.aria-expanded]="!isCollapsedAntFam" aria-controls="AntecedentesFam"
              [disabled]="isEditMedicalHistory">
        <i class="fas fa-users fa-2x mx-2"></i>
        Antecedentes familiares
        <i class="zmdi zmdi-chevron-down float-right text-center"
           *ngIf="!isEditMedicalHistory && isCollapsedAntFam"></i>
        <i class="zmdi zmdi-chevron-up float-right text-center" *ngIf="!isEditMedicalHistory && !isCollapsedAntFam"></i>
      </button>
      <!--Antecedentes familiares detalle-->
      <div id="AntecedentesFam" [ngbCollapse]="isCollapsedAntFam">
        <div class="card-body">
          <!--Diabetes Mellitus-->
          <div class="radio" formGroupName="DiabetesMellitus">
            <div class="row">
              <div class="col-md-6">
                <input id="diabetes" type="radio" [value]="true"
                       formControlName="Estado">
                <label for="diabetes">
                  Diabetes mellitus
                </label>
              </div>
              <div class="col-md-6">
                <input id="notDiabetes" type="radio" [value]="false"
                       formControlName="Estado">
                <label for="notDiabetes">
                  Negado
                </label>
              </div>
            </div>
            <div class="row"
                 *ngIf="form.get('AntecedentesFamiliares').get('DiabetesMellitus').get('Estado').value">
              <div class="form-group col-md-12">
                <input class="form-control" placeholder="Descripcion:" formControlName="Descripcion">
              </div>
            </div>
          </div>

          <!--Cancer-->
          <div class="radio" formGroupName="Cancer">
            <div class="row">
              <div class="col-md-6">
                <input id="cancer" type="radio" [value]="true"
                       formControlName="Estado">
                <label for="cancer">
                  Cancer
                </label>
              </div>
              <div class="col-md-6">
                <input id="notCancer" type="radio" [value]="false"
                       formControlName="Estado">
                <label for="notCancer">
                  Negado
                </label>
              </div>
            </div>
            <div class="row"
                 *ngIf="form.get('AntecedentesFamiliares').get('Cancer').get('Estado').value">
              <div class="form-group col-md-12">
                <input class="form-control" placeholder="Descripcion:"
                       formControlName="Descripcion">
              </div>
            </div>
          </div>

          <!--Hipertension-->
          <div class="radio" formGroupName="Hipertension">
            <div class="row">
              <div class="col-md-6">
                <input id="hipertension" type="radio"
                       [value]="true"
                       formControlName="Estado">
                <label for="hipertension">
                  Hipertensión
                </label>
              </div>
              <div class="col-md-6">
                <input id="notHipertension" type="radio"
                       [value]="false"
                       formControlName="Estado">
                <label for="notHipertension">
                  Negado
                </label>
              </div>
            </div>
            <div class="row"
                 *ngIf="form.get('AntecedentesFamiliares').get('Hipertension').get('Estado').value">
              <div class="form-group col-md-12">
                <input class="form-control" placeholder="Descripcion:">
              </div>
            </div>
          </div>

          <!--Reumatologicas-->
          <div class="radio" formGroupName="Reumatologicas">
            <div class="row">
              <div class="col-md-6">
                <input id="reumatologicas" type="radio"
                       [value]="true"
                       formControlName="Estado">
                <label for="reumatologicas">
                  Reumatologicas
                </label>
              </div>
              <div class="col-md-6">
                <input id="notReumatologicas" type="radio"
                       [value]="false"
                       formControlName="Estado">
                <label for="notReumatologicas">
                  Negado
                </label>
              </div>
            </div>
            <div class="row"
                 *ngIf="form.get('AntecedentesFamiliares').get('Reumatologicas').get('Estado').value">
              <div class="form-group col-md-12">
                <input class="form-control" placeholder="Descripcion:">
              </div>
            </div>
          </div>

          <!--Cardiovasculares-->
          <div class="radio" formGroupName="Cardiovasculares">
            <div class="row">
              <div class="col-md-6">
                <input id="cardiovasculares" type="radio"
                       [value]="true"
                       formControlName="Estado">
                <label for="cardiovasculares">
                  Cardiovasculares
                </label>
              </div>
              <div class="col-md-6">
                <input id="notCardiovasculares" type="radio"
                       [value]="false"
                       formControlName="Estado">
                <label for="notCardiovasculares">
                  Negado
                </label>
              </div>
            </div>
            <div class="row"
                 *ngIf="form.get('AntecedentesFamiliares').get('Cardiovasculares').get('Estado').value">
              <div class="form-group col-md-12">
                <input class="form-control" placeholder="Descripcion:">
              </div>
            </div>
          </div>

          <!--Neurologicas-->
          <div class="radio" formGroupName="Neurologicas">
            <div class="row">
              <div class="col-md-6">
                <input id="neurologicas" type="radio"
                       [value]="true"
                       formControlName="Estado">
                <label for="neurologicas">
                  Neurologicas
                </label>
              </div>
              <div class="col-md-6">
                <input id="notNeurologicas" type="radio"
                       [value]="false"
                       formControlName="Estado">
                <label for="notNeurologicas">
                  Negado
                </label>
              </div>
            </div>
            <div class="row"
                 *ngIf="form.get('AntecedentesFamiliares').get('Neurologicas').get('Estado').value">
              <div class="form-group col-md-12">
                <input class="form-control" placeholder="Descripcion:">
              </div>
            </div>
          </div>

          <!--Otras patologias de importancia-->
          <div class="radio" formGroupName="Otras">
            <div class="row">
              <div class="col-md-6">
                <input id="otrasPatologias" type="radio"
                       [value]="true"
                       formControlName="Estado">
                <label for="otrasPatologias">
                  Otras patologicas de importancía
                </label>
              </div>
              <div class="col-md-6">
                <input id="notOtrasPatologias" type="radio"
                       [value]="false"
                       formControlName="Estado">
                <label for="notOtrasPatologias">
                  Negado
                </label>
              </div>
            </div>
            <div class="row"
                 *ngIf="form.get('AntecedentesFamiliares').get('Otras').get('Estado').value">
              <div class="form-group col-md-12">
                <input class="form-control" placeholder="Descripcion:">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!--Antecedentes personales patologicos-->
    <div formGroupName="AntecedentesPatologicos">
      <button class="accordion" (click)="isCollapsedAntPat = !isCollapsedAntPat"
              [attr.aria-expanded]="!isCollapsedAntPat" aria-controls="AntecedentesPat"
              [disabled]="isEditMedicalHistory">
        <i class="fas fa-heartbeat fa-2x mx-2"></i>
        Antecedentes personales patologicos
        <i class="zmdi zmdi-chevron-down float-right text-center"
           *ngIf="!isEditMedicalHistory && isCollapsedAntPat"></i>
        <i class="zmdi zmdi-chevron-up float-right text-center" *ngIf="!isEditMedicalHistory && !isCollapsedAntPat"></i>
      </button>
      <!--Antecedentes personales patologicos detalle-->
      <div id="AntecedentesPat" [ngbCollapse]="isCollapsedAntPat">
        <div class="card-body">
          <!--Ingesta de farmacos-->
          <div class="radio" formGroupName="IngestaFarmacos">
            <div class="row">
              <div class="col-md-6">
                <input id="ingestaFarmacos" type="radio" [value]="true"
                       formControlName="Estado">
                <label for="ingestaFarmacos">
                  Ingesta de farmacos
                </label>
              </div>
              <div class="col-md-6">
                <input id="notIngestaFarmacos" type="radio" [value]="false"
                       formControlName="Estado">
                <label for="notIngestaFarmacos">
                  Negado
                </label>
              </div>
            </div>
            <div class="row"
                 *ngIf="form.get('AntecedentesPatologicos').get('IngestaFarmacos').get('Estado').value">
              <div class="form-group col-md-12">
                <input class="form-control" placeholder="Descripcion:" formControlName="Descripcion">
              </div>
            </div>
          </div>
          <!--Ultima hospitalizacion-->
          <div class="radio" formGroupName="UltimaHospitalizacion">
            <div class="row">
              <div class="col-md-6">
                <input id="ultimaHospitalizacion" type="radio" [value]="true"
                       formControlName="Estado">
                <label for="ultimaHospitalizacion">
                  Ultima Hospitalizacion
                </label>
              </div>
              <div class="col-md-6">
                <input id="notUltimaHospitalizacion" type="radio" [value]="false"
                       formControlName="Estado">
                <label for="notUltimaHospitalizacion">
                  Negado
                </label>
              </div>
            </div>
            <div class="row"
                 *ngIf="form.get('AntecedentesPatologicos').get('UltimaHospitalizacion').get('Estado').value">
              <div class="form-group col-md-12">
                <input class="form-control" placeholder="Descripcion:" formControlName="Descripcion">
              </div>
            </div>
          </div>

          <!--Transfusiones-->
          <div class="radio" formGroupName="Transfusiones">
            <div class="row">
              <div class="col-md-6">
                <input id="transfusiones" type="radio" [value]="true"
                       formControlName="Estado">
                <label for="transfusiones">
                  Transfusiones
                </label>
              </div>
              <div class="col-md-6">
                <input id="notTransfusiones" type="radio" [value]="false"
                       formControlName="Estado">
                <label for="notTransfusiones">
                  Negado
                </label>
              </div>
            </div>
            <div class="row"
                 *ngIf="form.get('AntecedentesPatologicos').get('Transfusiones').get('Estado').value">
              <div class="form-group col-md-12">
                <input class="form-control" placeholder="Descripcion:" formControlName="Descripcion">
              </div>
            </div>
          </div>

          <!--Cirugias-->
          <div class="radio" formGroupName="Cirugias">
            <div class="row">
              <div class="col-md-6">
                <input id="cirugias" type="radio" [value]="true"
                       formControlName="Estado">
                <label for="cirugias">
                  Cirugias
                </label>
              </div>
              <div class="col-md-6">
                <input id="notCirugias" type="radio" [value]="false"
                       formControlName="Estado">
                <label for="notCirugias">
                  Negado
                </label>
              </div>
            </div>
            <div class="row"
                 *ngIf="form.get('AntecedentesPatologicos').get('Cirugias').get('Estado').value">
              <div class="form-group col-md-12">
                <input class="form-control" placeholder="Descripcion:" formControlName="Descripcion">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Antecedentes personales NO patologicos-->
    <div formGroupName="AntecedentesNoPatologicos">
      <button class="accordion" (click)="isCollapsedAntNoPat = !isCollapsedAntNoPat"
              [attr.aria-expanded]="!isCollapsedAntNoPat" aria-controls="AntecedentesNoPat"
              [disabled]="isEditMedicalHistory">
        <i class="icon fas fa-home fa-2x mx-2"></i>
        Antecedentes personales no patologicos
        <i class="zmdi zmdi-chevron-down float-right"
           *ngIf="!isEditMedicalHistory && isCollapsedAntNoPat"></i>
        <i class="zmdi zmdi-chevron-up float-right" *ngIf="!isEditMedicalHistory && !isCollapsedAntNoPat"></i>
      </button>
      <!--Antecedentes personales NO patologicos detalle-->
      <div id="AntecedentesNoPat" [ngbCollapse]="isCollapsedAntNoPat">
        <div class="card-body">
          <!--Tabaquismo-->
          <div class="radio" formGroupName="Tabaquismo">
            <div class="row">
              <div class="col-md-6">
                <input id="tabaquismo" type="radio" [value]="true"
                       formControlName="Estado">
                <label for="tabaquismo">
                  Tabaquismo
                </label>
              </div>
              <div class="col-md-6">
                <input id="noTabaquismo" type="radio" [value]="false"
                       formControlName="Estado">
                <label for="noTabaquismo">
                  Negado
                </label>
              </div>
            </div>
            <div class="row"
                 *ngIf="form.get('AntecedentesNoPatologicos').get('Tabaquismo').get('Estado').value">
              <div class="form-group col-md-12">
                <input class="form-control" placeholder="Descripcion:" formControlName="Descripcion">
              </div>
            </div>
          </div>

          <!--Alcoholismo-->
          <div class="radio" formGroupName="Alcoholismo">
            <div class="row">
              <div class="col-md-6">
                <input id="alcoholismo" type="radio" [value]="true"
                       formControlName="Estado">
                <label for="alcoholismo">
                  Alcoholismo
                </label>
              </div>
              <div class="col-md-6">
                <input id="notAlcoholismo" type="radio" [value]="false"
                       formControlName="Estado">
                <label for="notAlcoholismo">
                  Negado
                </label>
              </div>
            </div>
            <div class="row"
                 *ngIf="form.get('AntecedentesNoPatologicos').get('Alcoholismo').get('Estado').value">
              <div class="form-group col-md-12">
                <input class="form-control" placeholder="Descripcion:" formControlName="Descripcion">
              </div>
            </div>
          </div>

          <!--Toxicomanias-->
          <div class="radio" formGroupName="Toxicomanias">
            <div class="row">
              <div class="col-md-6">
                <input id="toxicomanias" type="radio" [value]="true"
                       formControlName="Estado">
                <label for="toxicomanias">
                  Toxicomanias
                </label>
              </div>
              <div class="col-md-6">
                <input id="notToxicomanias" type="radio" [value]="false"
                       formControlName="Estado">
                <label for="notToxicomanias">
                  Negado
                </label>
              </div>
            </div>
            <div class="row"
                 *ngIf="form.get('AntecedentesNoPatologicos').get('Toxicomanias').get('Estado').value">
              <div class="form-group col-md-12">
                <input class="form-control" placeholder="Descripcion:" formControlName="Descripcion">
              </div>
            </div>
          </div>

          <!--Dieta-->
          <div class="radio" formGroupName="Dieta">
            <div class="row">
              <div class="col-md-6">
                <input id="dieta" type="radio" [value]="true"
                       formControlName="Estado">
                <label for="dieta">
                  Dieta
                </label>
              </div>
              <div class="col-md-6">
                <input id="notDieta" type="radio" [value]="false"
                       formControlName="Estado">
                <label for="notDieta">
                  Negado
                </label>
              </div>
            </div>
            <div class="row"
                 *ngIf="form.get('AntecedentesNoPatologicos').get('Dieta').get('Estado').value">
              <div class="form-group col-md-12">
                <input class="form-control" placeholder="Descripcion:" formControlName="Descripcion">
              </div>
            </div>
          </div>

          <!--Actividad Fisica-->
          <div class="radio" formGroupName="Fisica">
            <div class="row">
              <div class="col-md-6">
                <input id="actividadFisica" type="radio" [value]="true"
                       formControlName="Estado">
                <label for="actividadFisica">
                  Actividad Fisica
                </label>
              </div>
              <div class="col-md-6">
                <input id="notActividadFisica" type="radio" [value]="false"
                       formControlName="Estado">
                <label for="notActividadFisica">
                  Negado
                </label>
              </div>
            </div>
            <div class="row"
                 *ngIf="form.get('AntecedentesNoPatologicos').get('Fisica').get('Estado').value">
              <div class="form-group col-md-12">
                <input class="form-control" placeholder="Descripcion:" formControlName="Descripcion">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Antecedentes ginecologicos-->
    <div formGroupName="AntecedentesGinecologicos"
         *ngIf="patientData.Sexo === 'FEMENINO' && (patientAge >= 15 && patientAge <= 90)">
      <button class="accordion" (click)="isCollapsedAntGinecologicos = !isCollapsedAntGinecologicos"
              [attr.aria-expanded]="!isCollapsedAntGinecologicos" aria-controls="InterrogatorioAparatos"
              [disabled]="isEditMedicalHistory">
        <i class="fas fa-female mx-3 fa-2x"></i>
        Antecedentes ginecologicos
        <i class="zmdi zmdi-chevron-down float-right"
           *ngIf="!isEditMedicalHistory && isCollapsedAntGinecologicos"></i>
        <i class="zmdi zmdi-chevron-up float-right" *ngIf="!isEditMedicalHistory && !isCollapsedAntGinecologicos"></i>
      </button>

      <!--Antecedentes ginecologicos detalle-->
      <div id="AntGinecologicos" [ngbCollapse]="isCollapsedAntGinecologicos">
        <div class="card-body">
          <!--Menarca-->
          <div class="form-group">
            <label for="menarca">Edad de la menarca: </label>
            <input class="form-control col-md-3" placeholder="Edad:" formControlName="Menarca" id="menarca">
          </div>
          <!--FUM-->
          <div class="form-group">
            <label for="fum">FUM: </label>
            <input type="date" class="form-control col-md-3" placeholder="Fecha:" formControlName="FUM" id="fum">
          </div>
          <!--Gestaciones-->
          <div class="radio" formGroupName="Gestaciones">
            <div class="row">
              <div class="col-md-6">
                <input id="gestaciones" type="radio" [value]="true"
                       formControlName="Estado">
                <label for="gestaciones">
                  Gestaciones
                </label>
              </div>
              <div class="col-md-6">
                <input id="notGestaciones" type="radio" [value]="false"
                       formControlName="Estado">
                <label for="notGestaciones">
                  Negado
                </label>
              </div>
            </div>
            <div class="row"
                 *ngIf="form.get('AntecedentesGinecologicos').get('Gestaciones').get('Estado').value">
              <div class="form-group col-md-12">
                <input class="form-control" placeholder="Descripcion:" formControlName="Descripcion">
              </div>
            </div>
          </div>

          <div class="radio" formGroupName="Menopausia">
            <div class="row">
              <div class="col-md-6">
                <input id="menopausia" type="radio" [value]="true"
                       formControlName="Estado">
                <label for="menopausia">
                  Menopausia
                </label>
              </div>
              <div class="col-md-6">
                <input id="notMenopausia" type="radio" [value]="false"
                       formControlName="Estado">
                <label for="notMenopausia">
                  Negado
                </label>
              </div>
            </div>
            <div class="row"
                 *ngIf="form.get('AntecedentesGinecologicos').get('Menopausia').get('Estado').value">
              <div class="form-group col-md-12">
                <input class="form-control" placeholder="Descripcion:" formControlName="Descripcion">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Antecedentes Perinatales-->
    <div formGroupName="AntecedentesPerinatales"
         *ngIf="patientAge <= 5">
      <button class="accordion" (click)="isCollapsedAntPerinatales = !isCollapsedAntPerinatales"
              [attr.aria-expanded]="!isCollapsedAntPerinatales" aria-controls="InterrogatorioAparatos"
              [disabled]="isEditMedicalHistory">
        <i class="fas fas fa-child mx-2 fa-2x"></i>
        Antecedentes perinatales
        <i class="zmdi zmdi-chevron-down float-right"
           *ngIf="!isEditMedicalHistory && isCollapsedAntPerinatales"></i>
        <i class="zmdi zmdi-chevron-up float-right" *ngIf="!isEditMedicalHistory && !isCollapsedAntPerinatales"></i>
      </button>

      <!--Antecedentes Perinatales detalle-->
      <div id="AntPerinatales" [ngbCollapse]="isCollapsedAntPerinatales">
        <div class="card-body">
          <div class="form-group">
            <label for="productoGesta">Producto de la gesta: </label>
            <input class="form-control col-md-3" placeholder="Producto:" formControlName="ProductoGesta"
                   id="productoGesta">
          </div>

          <div class="radio">
            <p>Tipo de nacimiento:</p>
            <div class="row">
              <div class="col-md-6">
                <input id="tipoNacimiento" type="radio" value="ABDOMINAL"
                       formControlName="TipoNacimiento">
                <label for="tipoNacimiento">
                  Abdominal
                </label>
              </div>
              <div class="col-md-6">
                <input id="notTipoNacimiento" type="radio" value="VAGINAL"
                       formControlName="TipoNacimiento">
                <label for="notTipoNacimiento">
                  Vaginal
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="calificacionApgar">Calificación de apgar: </label>
            <input class="form-control col-md-3" placeholder="Calificación:" formControlName="CalificacionApgar"
                   id="calificacionApgar">
          </div>

          <div class="form-group">
            <label for="gestacionNacimiento">Edad gestacional al nacer (semanas): </label>
            <input class="form-control col-md-3" placeholder="Semanas:" formControlName="GestacionNacimiento"
                   id="gestacionNacimiento">
          </div>

          <div class="form-group">
            <label for="tiempoLactancia">Tiempo de lactancia (meses): </label>
            <input class="form-control col-md-3" placeholder="Meses:" formControlName="TiempoLactancia"
                   id="tiempoLactancia">
          </div>

          <div class="form-group">
            <label for="edadAblactacion">Edad de ablactación (meses): </label>
            <input class="form-control col-md-3" placeholder="Meses:" formControlName="EdadAblactacion"
                   id="edadAblactacion">
          </div>
        </div>
      </div>
    </div>


    <!--Cartilla de vacunas-->
    <div formGroupName="CartillaVacunacion"
         *ngIf="patientAge <= 5">
      <button class="accordion" (click)="isCollapsedCartilla = !isCollapsedCartilla"
              [attr.aria-expanded]="!isCollapsedCartilla" aria-controls="InterrogatorioAparatos"
              [disabled]="isEditMedicalHistory">
        <i class="fas fas fa-child mx-2 fa-2x"></i>
        Cartilla de vacunación
        <i class="zmdi zmdi-chevron-down float-right"
           *ngIf="!isEditMedicalHistory && isCollapsedCartilla"></i>
        <i class="zmdi zmdi-chevron-up float-right" *ngIf="!isEditMedicalHistory && !isCollapsedCartilla"></i>
      </button>

      <!--Cartilla de vacunas detalle-->
      <div id="CartillaVacunas" [ngbCollapse]="isCollapsedCartilla">
        <div class="card-body">
          <table class="table m-b-0 table-hover">
            <thead>
            <tr>
              <th>ID</th>
              <th>Vacunas</th>
              <th>Enfermedad que previene</th>
              <th>Dosis</th>
              <th>Edad y Frecuencia</th>
              <th>Fecha de vacuna</th>
            </tr>
            </thead>
            <tbody>
            <tr formGroupName="BCG">
              <!--[ngClass]="{ 'table-danger': vaccine.suscripcion.Estado === 2, 'table-success': vaccine.Nombre !== 2 }">-->
              <td>1</td>
              <td>BCG</td>
              <td>Tuberculosis</td>
              <td>UNICA</td>
              <td>AL NACER</td>
              <td>
                <input type="date" formControlName="Unica">
              </td>


            <tr formGroupName="HepatitisB">
              <td rowspan="3">2</td>
              <td rowspan="3">Hepatitis B</td>
              <td rowspan="3">Hepatitis B</td>
              <td>PRIMERA</td>
              <td>AL NACER</td>
              <td>
                <input type="date" formControlName="Primera">
              </td>
            </tr>
            <tr formGroupName="HepatitisB">
              <td>SEGUNDA</td>
              <td>2 MESES</td>
              <td>
                <input type="date" formControlName="Segunda">
              </td>
            </tr>
            <tr formGroupName="HepatitisB">
              <td>TERCERA</td>
              <td>6 MESES</td>
              <td>
                <input type="date" formControlName="Tercera">
              </td>
            </tr>


            <tr formGroupName="Pentavalente">
              <td rowspan="4">3</td>
              <td rowspan="4">Pentavalente acelular</td>
              <td rowspan="4">

                <li>Difteria</li>
                <li>Tos ferina</li>
                <li>Poliome Iritis</li>
                <li>Infecciones por H. Influenza B</li>

              </td>
              <td>PRIMERA</td>
              <td>2 MESES</td>
              <td>
                <input type="date" formControlName="Primera">
              </td>
            </tr>
            <tr formGroupName="Pentavalente">
              <td>SEGUNDA</td>
              <td>4 MESES</td>
              <td>
                <input type="date" formControlName="Segunda">
              </td>
            </tr>
            <tr formGroupName="Pentavalente">
              <td>TERCERA</td>
              <td>6 MESES</td>
              <td>
                <input type="date" formControlName="Tercera">
              </td>
            </tr>
            <tr formGroupName="Pentavalente">
              <td>CUARTA</td>
              <td>18 MESES</td>
              <td>
                <input type="date" formControlName="Cuarta">
              </td>
            </tr>


            <td>4</td>
            <td>DPT</td>
            <td>

              <li>Difteria</li>
              <li>Tos Ferina</li>
              <li>Tetanos</li>

            </td>
            <td>REFUERZO</td>
            <td>4 AÑOS</td>
            <td formGroupName="DPT">
              <input type="date" formControlName="Refuerzo">
            </td>


            <tr formGroupName="Rotavirus">
              <td rowspan="3">5</td>
              <td rowspan="3">Rotavirus</td>
              <td rowspan="3">Infección por Rotavirus</td>
              <td>PRIMERA</td>
              <td>2 MESES</td>
              <td>
                <input type="date" formControlName="Primera">
              </td>
            </tr>
            <tr formGroupName="Rotavirus">
              <td>SEGUNDA</td>
              <td>4 MESES</td>
              <td>
                <input type="date" formControlName="Segunda">
              </td>
            </tr>
            <tr formGroupName="Rotavirus">
              <td>TERCERA</td>
              <td>6 MESES</td>
              <td>
                <input type="date" formControlName="Tercera">
              </td>
            </tr>


            <tr formGroupName="Neumococo">
              <td rowspan="3">6</td>
              <td rowspan="3">Neumococo Conjugada</td>
              <td rowspan="3">Infección por Neumococo</td>
              <td>PRIMERA</td>
              <td>2 MESES</td>
              <td>
                <input type="date" formControlName="Primera">
              </td>
            </tr>
            <tr formGroupName="Neumococo">
              <td>SEGUNDA</td>
              <td>4 MESES</td>
              <td>
                <input type="date" formControlName="Segunda">
              </td>
            </tr>
            <tr formGroupName="Neumococo">
              <td>REFUERZO</td>
              <td>12 MESES</td>
              <td>
                <input type="date" formControlName="Refuerzo">
              </td>
            </tr>


            <tr formGroupName="Influenza">
              <td rowspan="3">7</td>
              <td rowspan="3">Influenza</td>
              <td rowspan="3">Influenza</td>
              <td>PRIMERA</td>
              <td>6 MESES</td>
              <td>
                <input type="date" formControlName="Primera">
              </td>
            </tr>
            <tr formGroupName="Influenza">
              <td>SEGUNDA</td>
              <td>7 MESES</td>
              <td>
                <input type="date" formControlName="Segunda">
              </td>
            </tr>
            <tr formGroupName="Influenza">
              <td>REVACUNACIÓN</td>
              <td>ANUAL <br> HASTA 59 MESES</td>
              <td>
                <input type="date" formControlName="Revacunacion">
              </td>
            </tr>


            <tr formGroupName="SRP">
              <td rowspan="2">8</td>
              <td rowspan="2">SRP</td>
              <td rowspan="2">

                <li>Sarampion</li>
                <li>Rubeola</li>
                <li>Parotiditis</li>

              </td>
              <td>PRIMERA</td>
              <td>1 AÑO</td>
              <td>
                <input type="date" formControlName="Primera">
              </td>
            </tr>
            <tr formGroupName="SRP">
              <td>REFUERZO</td>
              <td>6 AÑOS</td>
              <td>
                <input type="date" formControlName="Refuerzo">
              </td>
            </tr>


            <td>9</td>
            <td>SABIN</td>
            <td>Poliomelitis</td>
            <td>ADICIONALES</td>
            <td></td>
            <td formGroupName="Sabin">
              <input type="date" formControlName="Adicionales">
            </td>

            <tr>
              <td>10</td>
              <td>SR</td>
              <td>Sarampion y Rubeola</td>
              <td>ADICIONALES</td>
              <td></td>
              <td formGroupName="SR">
                <input type="date" formControlName="Adicionales">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!--Interrogatorio por aparatos-->
    <div formGroupName="InterrogatorioAparatos">
      <button class="accordion" (click)="isCollapsedIntApar = !isCollapsedIntApar"
              [attr.aria-expanded]="!isCollapsedIntApar" aria-controls="InterrogatorioAparatos"
              [disabled]="isEditMedicalHistory">
        <i class="fas fa-x-ray mx-2 fa-2x"></i>
        Interrogatorio por aparatos
        <i class="zmdi zmdi-chevron-down float-right"
           *ngIf="!isEditMedicalHistory && isCollapsedIntApar"></i>
        <i class="zmdi zmdi-chevron-up float-right" *ngIf="!isEditMedicalHistory && !isCollapsedIntApar"></i>
      </button>
      <!--Interrogatorio por aparatos detalle-->
      <div id="InterrogatorioAparatos" [ngbCollapse]="isCollapsedIntApar">
        <div class="card-body">
          <div class="form-group">
            <label for="interrogatorioAparatosDesc">Exploración: </label>
            <textarea name="interrogatorioAparatos" id="interrogatorioAparatosDesc" rows="3"
                      placeholder="Interrogatorio por aparatos" class="form-control" formControlName="Descripcion"></textarea>
          </div>
        </div>
      </div>
    </div>


    <div class="historia-header" *ngIf="!isEditMedicalHistory">
      <div class="row">
        <div class="col-sm-9">
          <p class="mb-0 ml-3">

          </p>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-default btn-sm btn-edit" (click)="editMedicalHistory()">
            {{msgEditMedical}}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>


