<div>
  <form [formGroup]="form">
    <div class="historia-header">
      <div class="row">
        <div class="col-sm-9">
          <p class="mb-0 ml-3">
            Historia clinica
          </p>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-default btn-sm btn-edit" (click)="editMedicalHistory()">
            {{msgEditMedical}}
          </button>
        </div>
      </div>
    </div>
    <!--Antecedentes familiares-->
    <button class="accordion" (click)="isCollapsedAntFam = !isCollapsedAntFam"
            [attr.aria-expanded]="!isCollapsed" aria-controls="AntecedentesFam"
            [disabled]="isEditMedicalHistory">
      Antecedentes familiares
      <i class="zmdi zmdi-chevron-down float-right"
         *ngIf="!isEditMedicalHistory && isCollapsedAntFam"></i>
      <i class="zmdi zmdi-chevron-up float-right" *ngIf="!isEditMedicalHistory && !isCollapsedAntFam"></i>
    </button>
    <!--Antecedentes familiares detalle-->
    <div id="AntecedentesFam" [ngbCollapse]="isCollapsedAntFam">
      <div class="card-body">
        <!--Diabetes Mellitus-->
        <div class="checkbox">
          <input id="checkbox1" type="checkbox" (change)="showDescription('Diabetes mellitus')">
          <label for="checkbox1">
            Diabetes mellitus
          </label>
          <div class="row" *ngIf="isDiabetesMellitus">
            <div class="form-group col-md-12">
              <input class="form-control" placeholder="Descripcion:">
            </div>
          </div>
        </div>

        <!--Cancer-->
        <div class="checkbox">
          <input id="checkbox2" type="checkbox" (change)="showDescription('Cancer')">
          <label for="checkbox2">
            Cancer
          </label>
          <div class="row" *ngIf="isCancer">
            <div class="form-group col-md-12">
              <input class="form-control" placeholder="Descripcion:">
            </div>
          </div>
        </div>

        <!--Hipertension-->
        <div class="checkbox">
          <input id="checkbox3" type="checkbox" (change)="showDescription('Hipertension')">
          <label for="checkbox3">
            Hipertensión
          </label>
          <div class="row" *ngIf="isHipertension">
            <div class="form-group col-md-12">
              <input class="form-control" placeholder="Descripcion:">
            </div>
          </div>
        </div>

        <!--<div *ngFor="let question of questions" class="form-row">-->
        <!--<app-question [question]="question" [form]="form"></app-question>-->
        <!--</div>-->
      </div>
    </div>
  </form>
</div>

<!--&lt;!&ndash;Antecedentes personales patologicos&ndash;&gt;-->
<!--<button class="accordion" (click)="isCollapsedAntPat = !isCollapsedAntPat"-->
<!--[attr.aria-expanded]="!isCollapsed" aria-controls="AntecedentesPat"-->
<!--[disabled]="isEditMedicalHistory">-->
<!--Antecedentes personales patologicos-->
<!--<i class="zmdi zmdi-chevron-down float-right"-->
<!--*ngIf="!isEditMedicalHistory && isCollapsedAntFam"></i>-->
<!--<i class="zmdi zmdi-chevron-up float-right" *ngIf="!isEditMedicalHistory && !isCollapsedAntFam"></i>-->
<!--</button>-->
<!--&lt;!&ndash;Antecedentes personales patologicos detalle&ndash;&gt;-->
<!--<div id="AntecedentesPat" [ngbCollapse]="isCollapsedAntPat">-->
<!--<div class="card-body">-->
<!--Lorem ipsum..-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;Antecedentes personales NO patologicos&ndash;&gt;-->
<!--<button class="accordion" (click)="isCollapsedAntNoPat = !isCollapsedAntNoPat"-->
<!--[attr.aria-expanded]="!isCollapsedAntNoPat" aria-controls="AntecedentesNoPat"-->
<!--[disabled]="isEditMedicalHistory">-->
<!--Antecedentes personales no patologicos-->
<!--<i class="zmdi zmdi-chevron-down float-right"-->
<!--*ngIf="!isEditMedicalHistory && isCollapsedAntFam"></i>-->
<!--<i class="zmdi zmdi-chevron-up float-right" *ngIf="!isEditMedicalHistory && !isCollapsedAntFam"></i>-->
<!--</button>-->
<!--&lt;!&ndash;Antecedentes personales NO patologicos detalle&ndash;&gt;-->
<!--<div id="AntecedentesNoPat" [ngbCollapse]="isCollapsedAntNoPat">-->
<!--<div class="card-body">-->
<!--Lorem ipsum..-->
<!--</div>-->
<!--</div>-->
