<div class="card">
  <div class="body">
    <legend class="col-form-legend col-sm-4">Buscar nota por paciente:</legend>
    <div class="form-group row">
      <div class="input-group col-sm-8">
        <input type="text" class="form-control" placeholder="Buscar">
        <span class="input-group-addon">
          <i class="zmdi zmdi-search"></i>
        </span>
      </div>
      <div class="input-group col-sm-4">
        <app-add-note class="col-md-12" (cerrado)="reload($event)"> </app-add-note>
      </div>
    </div>
  </div>
</div>
