<div class="card">
    <div class="body">
      <legend class="col-form-legend col-sm-2">Buscar paciente:</legend>
      <div class="form-group row">
        <div class="input-group col-sm-8">
          <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="queryString">
          <span class="input-group-addon">
          <i class="zmdi zmdi-search"></i>
        </span>
        </div>
        <div class="input-group col-sm-4">
          <button type="button" (click)="router.navigate(['agregar-paciente'])" class="col-md-12 btn btn-primary text-center">
            <i class="zmdi zmdi-plus float-left"></i>
            Agregar Paciente
          </button>
        </div>
      </div>
    </div>
</div>

<div class="card">
  <div class="body">

      <!-- Tab panes -->
      <div class="tab-content m-t-10">
        <div class="tab-pane table-responsive active" id="All">
          <table class="table m-b-0 table-hover">
            <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Teléfono</th>
              <th>Sexo</th>
              <th>Edad</th>
              <th>Dirección</th>
              <th>Tipo de Sangre</th>
              <th>Fecha de Inscripción</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let patient of patients | filter: queryString : searchableList; let i = index;">
              <!--[ngClass]="{ 'table-danger': patient.suscripcion.Estado === 2, 'table-success': patient.Nombre !== 2 }">-->
              <td>
                <span class="list-name"> {{i+1}} </span>
              </td>
              <td>{{patient.Nombre}}</td>
              <td>{{patient.Apellidos}}</td>
              <td>{{patient.Telefono}}</td>
              <td>{{patient.Sexo}}</td>
              <td>{{patient.Edad}}</td>
              <td>{{patient.Direccion}}</td>
              <td>{{patient.Tipo_sangre}}</td>
              <td>{{patient.Fecha_inscripcion}}</td>
              <!--<app-modificar-suscripcion [suscripcion]="suscripciones[i]"></app-modificar-suscripcion>-->
              <app-edit-patient (cerrado)="reload($event)" [patient]="patients[i]"></app-edit-patient>
              <button class="btn btn-danger" type="button" (click)="delete(patient.id)">
                <i class="fas fa-trash fa-lg"></i>
              </button>

              <!--<td>{{k.Estado}}</td>-->
              <!--<td><span class="badge badge-success">Approved</span></td>-->
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
</div>
