<div class="card animated fadeIn fast">
  <div class="body">
    <legend class="col-form-legend col-sm-2">Buscar paciente:</legend>
    <div class="form-group row">
      <div class="input-group col-sm-8">
        <span class="input-group-addon">
          <i class="zmdi zmdi-search"></i>
        </span>
        <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="queryString">
      </div>
      <div class="input-group col-sm-4">
        <button type="button" (click)="router.navigate(['agregar-paciente'])"
                class="col-md-12 btn btn-primary text-center">
          <i class="zmdi zmdi-plus float-left"></i>
          Agregar Paciente
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card animated fadeIn fast">
  <div class="body">

    <!-- Tab panes -->
    <div class="tab-content m-t-10">
      <div class="tab-pane table-responsive active" id="All">
        <table class="table m-b-0 table-hover">
          <thead>
          <tr>
            <th style="width: 20%">Nombre</th>
            <th style="width: 30%">Datos</th>
            <!--<th>Teléfono</th>-->
            <!--<th>Sexo</th>-->
            <!--<th>Edad</th>-->
            <!--<th>Dirección</th>-->
            <!--<th>Tipo de Sangre</th>-->
            <th style="width: 50%"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let patient of patients | filter: queryString : searchableList; let i = index;">
            <td [routerLink]="['/detalle-paciente', patient.id]" class="clickable"
                style="color: #1961f3; font-size: 1.2rem;font-weight: bolder;">
              {{patient.Nombre + " " + patient.Apellidos}}
            </td>
            <td>
              <p class="list-name mb-0"> Edad: {{patient.Edad}} </p>
              <p class="list-name mb-0"> Dirección: {{patient.Direccion}} </p>
            </td>
            <app-add-date></app-add-date>
            <button class="btn btn-sm btn-default" [routerLink]="['/consulta', patient.id]">Nueva consulta
            </button>
            <button class="btn btn-warning" [routerLink]="['/detalle-paciente', patient.id]">Revisar
              expediente
            </button>
            <app-send-to-urgencies [id]="patient.id"></app-send-to-urgencies>
            <!--<app-modificar-suscripcion [suscripcion]="suscripciones[i]"></app-modificar-suscripcion>-->
            <!--<app-edit-patient (cerrado)="reload($event)" [patient]="patients[i]"></app-edit-patient>-->
            <!--<td>{{k.Estado}}</td>-->
            <!--<td><span class="badge badge-success">Approved</span></td>-->
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
