<div *ngIf="visible">
  <p>Para ver tus citas debes iniciar tu sesión de Google</p>
  <button class="btn btn-primary"  (click)="googleAuth()">
      Entrar con Google
  </button>
</div>

<div class="card" *ngIf="!visible">
    <div class="body">

        <div class="row">
          <div class="col-lg-12 text-center">
            <h3 class="section-heading text-uppercase mt-3">Citas</h3>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12">

          </div>
        </div>

    </div>
</div>
  