<div class="container-fluid animated fadeIn fast" *ngIf="show">
  <div class="title">
    <h1>Términos y condiciones</h1>
  </div>
  <div class="textContract">
    <app-contract></app-contract>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row margen-top">
      <div class="col">
        <input type="checkbox" class="checkbox" formControlName="accept"> He leído los términos y condiciones. A
        continuación tiene que generar
        una
        firma electrónica para saber que acepta lo anterior mencionado
      </div>
    </div>

    <div class="row margen-top">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <canvas #canvas></canvas>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <button class="btn btn-info" type="submit" [disabled]="!form.valid">Aceptar</button>
      </div>

      <div class="col-md-3">
        <button class="btn btn-warning float-right" type="button" (click)="clearCanvas()">Limpiar</button>
      </div>
    </div>
  </form>
</div>
