<div *ngFor="let receta of recetas" class="margen">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{receta.Titulo}}</mat-card-title>
      <mat-card-subtitle>{{receta.Nombre + ' ' + receta.Apellidos }}</mat-card-subtitle>
    </mat-card-header>
    <div *ngFor="let medicina of receta.Medicamentos">
      <p>
        Nombre de medicamento: {{medicina.Medicamento}}
      </p>
      <p>
        Dosis: {{medicina.Cantidad}}
      </p>
      <p>
        Frecuencia: {{medicina.Tiempo}}
      </p>
      <p>
        Prescripción: {{medicina.Prescripcion}}
      </p>
      <hr>

    </div>
    <mat-card-content>
      <p>
        {{receta.Descripcion}}
      </p>
    </mat-card-content>
<!--    <mat-card-actions>-->
<!--      <button mat-button>LIKE</button>-->
<!--      <button mat-button>SHARE</button>-->
<!--    </mat-card-actions>-->
  </mat-card>
</div>
