<div class="card animated fadeIn fast">
  <div class="body">
    <legend class="col-form-legend col-sm-2">Buscar médico:</legend>
    <div class="form-group row">
      <div class="input-group col-sm-8">
        <span class="input-group-addon">
          <i class="zmdi zmdi-search"></i>
        </span>
        <input type="text" class="form-control" [(ngModel)]="queryString" placeholder="Buscar">
      </div>
      <div class="input-group col-sm-4">
        <button type="button" (click)="router.navigate(['agregar-medico'])"
                class="col-md-12 btn btn-primary text-center">
          <i class="zmdi zmdi-plus float-left"></i>
          Agregar Médico
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card animated fadeIn fast" *ngFor="let doctor of doctores | filter: queryString : searchableList; let i = index;">
  <div class="body">
    <div class="row">
      <div class="col-md-2">
        <img src="assets/images/mediteck/sin-foto.png" class="rounded-circle" alt="profile-image">
      </div>

      <div class="col-md-10">
        <h3 class="m-b-0">Dr. {{doctor.Nombre + ' ' + doctor.Apellidos }} </h3>
        <p class="text-muted">Especialidad: {{doctor.Especialidad}}</p>
        <p class="text-muted">Cédula Profesional: {{doctor.Cedula}}</p>
        <p class="text-muted">Direccién: {{doctor.Direccion}}</p>
        <div class="row align-items-end justify-content-between">
          <div class="col-4">
            <button type="submit" class="btn btn-danger" (click)="delete(doctor.id)">Eliminar</button>
          </div>
          <div class="col-4">
            <app-edit-doctor (cerrado)="reload($event)" [doctor]="doctor"></app-edit-doctor>
            <!--<button type="button" class="btn btn-primary float-right">Ver y/o Editar</button>-->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
