<div class="card animated fadeIn fast">
  <div class="body">
    <legend class="col-form-legend col-sm-2">Buscar paciente:</legend>
    <div class="form-group row">
      <div class="input-group col-sm-12">
        <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="queryString">
        <span class="input-group-addon">
          <i class="zmdi zmdi-search"></i>
        </span>
      </div>
      <!--<div class="input-group col-sm-4">-->
      <!--<button type="button" (click)="router.navigate(['agregar-paciente'])"-->
      <!--class="col-md-12 btn btn-primary text-center">-->
      <!--<i class="zmdi zmdi-plus float-left"></i>-->
      <!--Agregar Paciente-->
      <!--</button>-->
      <!--</div>-->
    </div>
  </div>
</div>
<div class="card animated fadeIn fast">
  <div class="body">
    <div class="tab-content m-t-10">
      <div class="tab-pane table-responsive active" id="All">
        <table class="table m-b-0 table-hover">
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Fecha de nacimiento</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Tipo de sangre</th>
            <th>Fecha de ingreso</th>
            <th>Diagn[ostico</th>
            <th>Prioridad</th>
            <th>

            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let info of infoPatients | filter: queryString : searchableList;">
            <td>{{info.Nombre}} {{info.Apellidos}}</td>
            <td>{{info.Fecha_nacimiento}}</td>
            <td>{{info.Direccion}}</td>
            <td>{{info.Telefono}}</td>
            <td>{{info.Tipo_sangre}}</td>
            <td>{{info.Fecha_ingreso}}</td>
            <td>{{info.Motivo}}</td>
            <td>{{info.Prioridad}}</td>
            <td>
              <button class="btn btn-warning" (click)="alta(info.idPaciente)">Egresar</button>
              <app-intern [id]="info.idPaciente"></app-intern>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

