<nav class="navbar p-l-5 p-r-5">
  <ul class="nav navbar-nav navbar-left">
    <li>
      <div class="navbar-header">
        <a [routerLink]="['/dashboard']" class="bars"></a>
        <a class="m-l-10" [routerLink]="['/dashboard']"><img src="../../../assets/images/brand/logo_navbar.png" alt="CLINITEC" /></a>
      </div>
    </li>
    <li><a href="javascript:void(0);" class="ls-toggle-btn" data-close="true"><i class="zmdi zmdi-swap"></i></a></li>
    <!--
    <li class="hidden-sm-down">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar..." />
        <span class="input-group-addon">
                    <i class="zmdi zmdi-search"></i>
        </span>
      </div>
    </li>
    -->
    <li class="float-right">
      <a class="fullscreen hidden-sm-down" data-provide="fullscreen" data-close="true"><i class="zmdi zmdi-fullscreen"></i></a>
      <!--<button class="mega-menu"><i class="zmdi zmdi-power"></i></button>-->
      <a (click)="_userService.logout()" class="mega-menu" data-close="true"><i class="zmdi zmdi-power"></i></a>
      <!--<a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="zmdi zmdi-settings zmdi-hc-spin"></i></a>-->
    </li>
  </ul>
</nav>
