@charset "UTF-8";

@font-face {
  font-family: "medical-font";
  src:url("../fonts/medical-font.eot");
  src:url("../fonts/medical-font.eot?#iefix") format("embedded-opentype"),
    url("../fonts/medical-font.woff") format("woff"),
    url("../fonts/medical-font.ttf") format("truetype"),
    url("../fonts/medical-font.svg#medical-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "medical-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="med-"]:before,
[class*=" med-"]:before {
  font-family: "medical-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.med-nurse-user:before {
  font-size: 2em;
  content: "\61";
}
.med-case-medic:before {
  font-size: 2em;
  content: "\62";
}
.med-doctor:before {
  font-size: 2em;
  content: "\63";
}
.med-home:before {
  font-size: 2em;
  content: "\64";
}
.med-building:before {
  font-size: 2em;
  content: "\65";
}
.med-pill:before {
  font-size: 2em;
  content: "\66";
}
