<div mat-dialog-title class="row p-0 m-0 justify-content-between">
  <h4 class="section-heading text-uppercase">Indicaciones</h4>
  <button type="button" class="close" aria-label="Close" (click)="onNoClick()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div mat-dialog-content>

  <div class="col-sm-12">
    <div class="form-group">
        <textarea [(ngModel)]="indicaciones" class="form-control"
                  placeholder="Aquí puedes escribir las indicaciones para el paciente" rows="5"></textarea>
    </div>
  </div>

  <hr/>

  <div class="col-lg-12 text-center">
    <h4 class="section-heading text-uppercase">Medicamentos</h4>
  </div>


  <form class="row">
    <div class="col-sm-11">
      <div class="form-group">
        <input class="form-control"
               placeholder="Aquí puedes escribir los medicamentos para el paciente"
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete"
                          (optionSelected)="addMedicine()"
                          [displayWith]="displayFn">
          <mat-option *ngFor="let medicine of filteredOptions | async"
                      [value]="medicine">
            {{ medicine.Compuesto + " - " + medicine.Marcas + " - " + medicine.Presentacion + " - " +
          medicine.Cantidad}}
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>
    <div class="col-sm-1 p-0">
      <button class="btn btn-icon m-0" (click)="addMedicine()" matTooltip="Agregar medicamento">+</button>
    </div>
  </form>


  <div class="row">
    <ul>
      <li *ngFor="let medicine of medicines">
        {{medicine}}
      </li>
    </ul>
  </div>

  <div class="col-lg-12 text-center">
    <h4 class="section-heading text-uppercase">Cama</h4>
  </div>

  <div class="col-sm-12">
    <div class="form-group">
      <select class="form-control" [(ngModel)]="cama">
        <option *ngFor="let cama of camas" [value]="cama.id">Piso: {{cama.Piso}} - Cama: {{cama.id}}</option>
      </select>
    </div>
  </div>

</div>

<div mat-dialog-actions class="row justify-content-between">
  <button class="btn btn-danger" (click)="onNoClick()">Cancelar</button>
  <button class="btn btn-primary" (click)="internar()">Enviar</button>
</div>


<!--<button class="btn btn-primary" (click)="open(content)">Hospitalizar</button>-->
