<div class="card">
  <div class="body">

    <!--Titulo-->
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-heading text-uppercase">Nueva Consulta</h3>
      </div>
    </div>
    <!--Final Titulo-->

    <!--Formulario-->
    <form [formGroup]="form">
      <hr>

      <div class="row">

        <!--Izquierda-->
        <div class="col-md-6">
          <div class="col-md-12">
            <div class="form-group">
              <label>Fecha: </label>
              <input class="form-control" type="date" formControlName="fecha">
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Peso: </label>
              <input class="form-control" type="text" placeholder="Peso" formControlName="peso">
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Talla: </label>
              <input class="form-control" type="text" placeholder="Talla" formControlName="talla">
            </div>
          </div>
        </div>
        <!--Final Izquierda-->


        <!--Derecha-->
        <div class="col-md-6">
          <div class="col-md-12">
            <div class="form-group">
              <label>Perimetro Cefálico: </label>
              <input class="form-control" type="text" placeholder="Perimetro Cefálico" formControlName="per_Cef">
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Perimetro Torácico: </label>
              <input class="form-control" type="text" placeholder="Perimetro Torácico" formControlName="per_tor">
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Costo: </label>
              <input class="form-control" type="text" placeholder="Costo" formControlName="costo">
            </div>
          </div>
        </div>
        <!--Final Derecha-->

      </div>
    </form>
    <!--Fin Formulario-->
  </div>
</div>

<div class="card">
  <div class="body">
    <ul class="nav nav-tabs padding-0">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#Receta">Receta Medica</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Indicaciones">Indicaciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Notas">Notas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Vacunas">Vacunas</a>
      </li>
    </ul>

    <!--***********************RECETAS MEDICAS*****************-->
    <div class="tab-content m-t-10">
      <div class="tab-pane active" id="Receta">
        <div class="row clearfix">
          <div class="col-md-12">
            <form>
              <div class="form-group">
                <label>Titulo:</label>
                <input type="text" class="form-control" id="name_medico" placeholder="Titulo de la Nota">
              </div>

              <div class="form-group">
                <label>Descripcion:</label>
                <br>
                <textarea class="form-control" id="descripcion" placeholder="Descripcion"></textarea>
              </div>

              <div class="form-group">
                <label>Lista de Medicamentos:</label>
                <br>
                <textarea class="form-control" id="esquema" placeholder="Medicamentos"></textarea>
              </div>
            </form>
          </div>
        </div>
      </div>


      <!--***********************INDICACIONES MEDICAS*****************-->
      <div class="tab-pane" routerLinkActive="active" id="Indicaciones">
        <div class="row clearfix">
          <div class="col-md-12">
            <form>

              <div class="form-group">
                <label>Dieta:</label>
                <br>
                <textarea class="form-control" name="dieta" id="dieta" placeholder="Dieta"></textarea>
              </div>

              <div class="form-group">
                <label>Esquema de Soluciones:</label>
                <br>
                <textarea class="form-control" name="esquema" id="esquema" placeholder="Esquema de Soluciones"></textarea>
              </div>

              <div class="form-group">
                <label>Lista de Medicamentos:</label>
                <br>
                <textarea class="form-control" name="medicamentos" id="medicamentos" placeholder="Lista de Medicamentos"></textarea>
              </div>

              <div class="form-group">
                <label>Medidas Generales:</label>
                <br>
                <textarea class="form-control" name="medidas" id="medidas" placeholder="Medidas Generales"></textarea>
              </div>

              <div class="form-group">
                <label>Hemocomponentes:</label>
                <br>
                <textarea class="form-control" name="hemocomponentes" id="hemocomponentes" placeholder="Hemocomponentes"></textarea>
              </div>
            </form>
          </div>
        </div>
      </div>


      <!--***********************NOTAS MEDICAS*****************-->
      <div class="tab-pane" routerLinkActive="active" id="Notas">
        <div class="row clearfix">
          <div class="col-md-12">
            <form>

              <div id="medico">

                <div class="form-group">
                  <label>Nombre del Medico:</label>
                  <input type="text" class="form-control" id="name_medico" placeholder="Nombre del Medico" name="name_medico">
                </div>

                <div class="form-group">
                  <label>Cedula Profesional:</label>
                  <input type="text" class="form-control" id="ced" placeholder="Cedula Profesional" name="cedula_p">
                </div>
              </div>

              <div class="form-group">
                <label>Diagnóstico:</label>
                <br>
                <textarea class="form-control" name="diagnostico" id="diagnostico" placeholder="Diagnostico"></textarea>
              </div>

              <div class="row" id="medidas">
                <div class="form-group col-sm-4">
                  <label>Peso:</label>
                  <input type="text" class="form-control ancho" id="peso" placeholder="Peso" name="peso">
                </div>

                <div class="form-group col-sm-4">
                  <label>Talla:</label>
                  <input type="text" class="form-control ancho" id="talla" placeholder="Talla" name="talla">
                </div>

                <div class="form-group col-sm-4">
                  <label>IMC:</label>
                  <input type="text" class="form-control ancho" id="imc" placeholder="IMC" name="imc">
                </div>
              </div>

              <div id="svt">
                <div class="row">
                  <div class="form-group col-sm-2">
                    <label>FC:</label>
                    <input type="text" class="form-control ancho" id="fc" placeholder="FC" name="fc">
                  </div>

                  <div class="form-group col-sm-2">
                    <label>TR:</label>
                    <input type="text" class="form-control ancho" id="tr" placeholder="TR" name="tr">
                  </div>

                  <div class="form-group col-sm-3">
                    <label>Temperatura:</label>
                    <input type="text" class="form-control ancho" id="temperatura" placeholder="Temperatura" name="temperatura">
                  </div>

                  <div class="form-group col-sm-2">
                    <label>TA:</label>
                    <input type="text" class="form-control ancho" id="ta" placeholder="TA" name="ta">
                  </div>

                  <div class="form-group col-sm-2">
                    <label>SO2:</label>
                    <input type="text" class="form-control ancho" id="so2" placeholder="SO2" name="so2">
                  </div>

                </div>
              </div>

              <div class="form-group">
                <label>NOTA:</label>
                <br>
                <textarea class="form-control" name="nota" id="nota" placeholder="Nota"></textarea>
              </div>

              <div class="form-group">
                <label>Pronóstico:</label>
                <br>
                <textarea class="form-control " name="pron " id="pron " placeholder="Pronostico "></textarea>
              </div>

              <div class="form-group ">
                <label>Análisis:</label>
                <br>
                <textarea class="form-control " name="analisis " id="analisis " placeholder="Análisis "></textarea>
              </div>
            </form>
          </div>
        </div>
      </div>


      <!--***********************VACUNAS*****************-->
      <div class="tab-pane" routerLinkActive="active" id="Vacunas">
        <div class="row clearfix">
          <form>

            <div class="col-md-12">
              <div class="form-group">
                <label>Fecha de Aplicación:</label>
                <input type="date" class="form-control" id="fecha_aplicacion">
              </div>

              <div class="form-group">
                <label>Vacuna:</label>
                <select class="form-control">
                  <option value="0">Vacuna1</option>
                  <option value="1">Vacuna2</option>
                  <option value="2">Vacuna3</option>
                  <option value="3">Vacuna4</option>
                  <option value="3">Vacuna4</option>
                </select>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button type="submit" class="btn btn-primary text-center">Guardar</button>
  </div>
</div>