<div class="card">
  <div class="body">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-heading text-uppercase">Nueva Consulta</h3>
      </div>
    </div>

    <form [formGroup]="form">
      <hr>

      <div class="row">
        <div class="col-md-6">
          <div class="col-md-12">
            <div class="form-group">
              <label>Fecha: </label>
              <input class="form-control" type="date" formControlName="fecha">
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Peso: </label>
              <input class="form-control" type="text" placeholder="Peso" formControlName="peso">
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Talla: </label>
              <input class="form-control" type="text" placeholder="Talla" formControlName="talla">
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="col-md-12">
            <div class="form-group">
              <label>Perimetro Cefálico: </label>
              <input class="form-control" type="text" placeholder="Perimetro Cefálico" formControlName="per_Cef">
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Perimetro Torácico: </label>
              <input class="form-control" type="text" placeholder="Perimetro Torácico" formControlName="per_tor">
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Costo: </label>
              <input class="form-control" type="text" placeholder="Costo" formControlName="costo">
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>

<div class="card">
  <div class="body">
    <ul class="nav nav-tabs padding-0">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#Receta">Receta Medica</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Indicaciones">Indicaciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Notas">Notas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Vacunas">Vacunas</a>
      </li>
    </ul>

    <div class="tab-content m-t-10">
      <div class="tab-pane active" id="Receta">
        <div class="row clearfix">
          <form [formGroup]="formReceta">

            <h3>Aqui va recetas medicas! :D</h3>

          </form>
        </div>
      </div>

      <div class="tab-pane" routerLinkActive="active" id="Indicaciones">
        <div class="row clearfix">
          <form [formGroup]="formIndicaciones">

            <h3>Aqui van indicaciones! :D</h3>

          </form>
        </div>
      </div>

      <div class="tab-pane" routerLinkActive="active" id="Notas">
        <div class="row clearfix">
          <form [formGroup]="formNotas">

            <div class="form-group">
              <label>Tipo de Nota</label>
              <select class="form-control show-tick">
                <option value="0">Nota de Urgencia</option>
                <option value="1">Nota de Ingreso (Hospitalización)</option>
                <option value="2">Nota de Evolución</option>
                <option value="3">Nota de Guardia</option>
                <option value="4">Nota postquirúrgica</option>
                <option value="5">Nota de Defunción</option>
              </select>
            </div>

            <div id="medico">
              <div class="form-group">
                <label>Nombre del Medico:</label>
                <input type="text" class="form-control" id="name_medico" placeholder="Nombre del Medico">
              </div>

              <div class="form-group">
                <label>Cedula Profesional:</label>
                <input type="text" class="form-control" id="ced" placeholder="Cedula Profesional">
              </div>
            </div>

            <div class="form-group">
              <label>Diagnóstico:</label>
              <br>
              <textarea class="form-control" name="diagnostico" id="diagnostico" placeholder="Diagnostico"></textarea>
            </div>

            <div class="row" id="medidas">
              <div class="form-group col-sm-4">
                <label>Peso:</label>
                <input type="text" class="form-control ancho" id="peso" placeholder="Peso" name="peso">
              </div>

              <div class="form-group col-sm-4">
                <label>Talla:</label>
                <input type="text" class="form-control ancho" id="talla" placeholder="Talla" name="talla">
              </div>

              <div class="form-group col-sm-4">
                <label>IMC:</label>
                <input type="text" class="form-control ancho" id="imc" placeholder="IMC" name="imc">
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="form-group col-sm-2">
                <label>FC:</label>
                <input type="text" class="form-control ancho" id="fc" placeholder="FC" name="fc">
              </div>

              <div class="form-group col-sm-2">
                <label>TR:</label>
                <input type="text" class="form-control ancho" id="tr" placeholder="TR" name="tr">
              </div>

              <div class="form-group col-sm-3">
                <label>Temperatura:</label>
                <input type="text" class="form-control ancho" id="temperatura" placeholder="Temperatura" name="temperatura">
              </div>

              <div class="form-group col-sm-2">
                <label>TA:</label>
                <input type="text" class="form-control ancho" id="ta" placeholder="TA" name="ta">
              </div>

              <div class="form-group col-sm-2">
                <label>SO2:</label>
                <input type="text" class="form-control ancho" id="so2" placeholder="SO2" name="so2">
              </div>
            </div>

            <div class="form-group">
              <label>NOTA:</label>
              <textarea class="form-control" name="nota" id="nota" placeholder="Nota"></textarea>
            </div>

            <div class="form-group">
              <label>Pronóstico:</label>
              <textarea class="form-control " name="pron " id="pron " placeholder="Pronostico "></textarea>
            </div>

            <div class="form-group ">
              <label>Análisis:</label>
              <textarea class="form-control " name="analisis " id="analisis " placeholder="Análisis "></textarea>
            </div>

            <button type="submit " class="btn btn-primary text-center ">Crear Nota</button>

          </form>
        </div>
      </div>

      <div class="tab-pane" routerLinkActive="active" id="Vacunas">
        <div class="row clearfix">
          <form [formGroup]="formVacunas">

            <h3>Aqui van vacunas ! :D</h3>

          </form>
        </div>
      </div>

    </div>
  </div>
</div>