<div class="page-header">
  <div class="container animated fadeIn fast">
    <div class="col-md-12">
      <div class="card" style="margin-top: 80px">
        <div class="body">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h3 class="section-heading text-uppercase mt-3">Tu suscripción caduco, llena los datos para renovarla</h3>
            </div>
          </div>
            <!--Plans-->
          <form (ngSubmit)="submit()" [formGroup]="form">
          <div class="row">
            <div class="col-md-10">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Selecciona tu plan</mat-label>
                <mat-select formControlName="typePlan" (valueChange)="showButtons()">
                  <mat-option *ngFor="let plan of plans" [value]="plan">
                    {{plan.Nombre}} - {{plan.Precio}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-danger float-left" [routerLink]="['/']">Cancelar</button>
            </div>

            </div>
            <!--Plans-->
            <br/><br/>
            <div *ngIf="buttons" class="row animated fadeIn fast">
              <div class="col-md-12">
                <h4>Selecciona un método de pago</h4>
                <div class="row">
                  <div class="col-md-4">
                    <img class="rounded mx-auto d-block imagenVISA" src="assets/images/visamaster.jpg"
                         (click)="paymentCard()">
                  </div>
                  <div class="col-md-4">
                    <img class="rounded mx-auto d-block imagenOXXO" src="assets/images/oxxo.png"
                         (click)="paymentOxxo()">
                  </div>
                  <div class="col-md-4">
                    <img class="rounded mx-auto d-block imagenSPEI" src="assets/images/spei.jpg"
                         (click)="paymentSPEI()">
                  </div>
                </div>
              </div>
            </div>

            <!--Card-->
            <div *ngIf="card" class="animated fadeIn fast">
              <h4>Ingresa tus datos para continuar con el proceso...</h4>
              <div class="row">
                <div class="col">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Nombre completo</mat-label>
                    <input matInput type="text" formControlName="name">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Número de tarjeta</mat-label>
                    <input matInput type="number" formControlName="numberCard">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Año de expiración</mat-label>
                    <input matInput type="number" formControlName="exp_year">
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Mes de expiración</mat-label>
                    <input matInput type="number" formControlName="exp_month">
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>CCV</mat-label>
                    <input matInput type="number" formControlName="ccv">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Dirección</mat-label>
                    <input matInput type="number" formControlName="street1">
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Dirección 2</mat-label>
                    <input matInput type="number" formControlName="street2">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">

                <div class="col">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>País</mat-label>
                    <input matInput type="text" formControlName="country">
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Código Postal</mat-label>
                    <input matInput type="number" formControlName="zipcode">
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Ciudad</mat-label>
                    <input matInput type="text" formControlName="city">
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Estado</mat-label>
                    <input matInput type="text" formControlName="state">
                  </mat-form-field>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Pagar</button>
              <button type="submit" class="btn btn-danger" (click)="cancel()">Regresar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
