<div class="card">
  <div class="body">

    <!-- Tab panes -->
    <div class="tab-content m-t-10">
      <div class="tab-pane table-responsive active" id="All">
        <table class="table m-b-0 table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Piso</th>
              <th>Seccion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let k of floors; let i = index">
              <!--[ngClass]="{ 'table-danger': k.suscripcion.Estado === 2, 'table-success': k.Nombre !== 2 }">-->
              <td>
                <span class="list-name"> {{i+1}} </span>
              </td>
              <td>{{k.Piso}}</td>
              <td>{{k.Seccion}}</td>
              <!--<app-modificar-suscripcion [suscripcion]="suscripciones[i]"></app-modificar-suscripcion>-->
              <button class="btn btn-danger" type="button">
                <i class="fas fa-trash fa-lg"></i>
              </button>

              <!--<td>{{k.Estado}}</td>-->
              <!--<td><span class="badge badge-success">Approved</span></td>-->
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>