<p class="title">GRUPO INFRAMEDIC S. DE R.L de C.V</p>
<p class="title">PRIVADA PIEDRA VOLADA 102</p>
<p class="title">COLONIA LOMAS DE ANGELOPOLIS</p>


<p class="title">CONSENTIMIENTO INFORMADO DE AVISO, DECLARACIÓN Y AUTORIZACIÓN PARA EL USO DE DATOS PERSONALES</p>

<p class="body">Ley Federal de Protección de Datos Personales en Posesión de Particulares
  En cumplimiento con lo establecido por la Ley Federal de Datos Personales en Posesión de Particulares (en lo sucesivo
  LFPDPPP) GRUPO INFRAMEDIC S. R.L de C.V a través de su expediente clínico electrónico <b>CLINITEC</b> (En lo sucesivo
  <b>CLINITEC</b>)
  con domicilio en Privada Piedra Volada 102 Colonia Lomas de Angelopólis CP. 72830, Santa Clara Ocoyucan Puebla, es
  responsable de recabar sus datos personales de manera directa o indirecta.</p>

<p class="body"><b>CLINITEC</b> es responsable de recabar datos personales a través de los usuarios del mismo, así como del uso y publicación
en el expediente electrónico, con la posibilidad de compartir la información  en grupos médicos y usuarios del sistema,
buscando en todo momento que los datos y manejo de los mismos sea legítimo, controlado e informado a efecto de garantizar
la privacidad y su derecho a la autodeterminación informativa, comprometiéndose a que el procesamiento del mismo será
  manejado de tal manera que su privacidad estará protegida en todo momento.</p>

<p class="body">Lea atentamente el aviso a continuación, ya que ofrece información importante relacionada con la recopilación, el uso,
la transferencia y el almacenamiento de información personal con el propósito de verificar sus antecedentes en relación
  con su historia clínica, diagnóstico y tratamiento de patologías.</p>

<p class="body">Al final se pedirá su CONSENTIMIENTO EXPRESO para la verificación de antecedentes y su transferencia a otros usuarios
  del sistema, según lo descrito en este aviso.</p>

<p class="body">La información que proporcione deberá ser veraz y completa. Por lo que queda bajo su responsabilidad la veracidad de
  los datos que  proporcione y en ningún caso <b>CLINITEC</b> será responsable a este respecto.</p>

<p class="body">Toda información recabada a través de los usuarios de <b>CLINITEC</b>, está sujeto a lo establecido en el presente Aviso de
  Privacidad.</p>

<p class="body"><b>CLINITEC</b> se obliga a guardar la confidencialidad de los datos personales  obtenidos, de conformidad con lo señalado en
  LFPDPPP.</p>

<p class="body">En cumplimiento a las leyes aplicables o bien, debido a las modificaciones en nuestras políticas internas en la materia.
  <b>CLINITEC</b> podrá modificar la presente información en cualquier tiempo y sin previo aviso.</p>

<p class="title">TRATAMIENTO DE SUS DATOS.</p>

<p class="body">Para las finalidades señaladas en el presente aviso de privacidad, podemos recabar sus datos personales.
Entre la información que <b>CLINITEC</b> solicita se encuentran datos personales, antecedentes heredofamiliares,
antecedentes personales no patológicos, antecedentes personales patológicos, antecedentes ginecológicos (mujeres),
  cartilla de vacunación, tratamiento actual y fotografías en caso de lesiones patológicas.</p>

<p class="title">FINALIDADES DEL TRATAMIENTO DE SUS DATOS</p>

<p class="body">La información o datos personales que usted, de manera libre y voluntaria proporciona a <b>CLINITEC</b>, será utilizada para
los fines de conocer su historia clínica y en su caso la de un tercero (tutor o responsable del paciente) y poder normar
  de acuerdo a eso una conducta diagnostica y terapéutica.</p>

<p class="body"><b>CLINITEC</b> se compromete a no prestar, alquilar ni vender sus datos personales a ningún tercero fuera de los usuarios y
  colaboradores de <b>CLINITEC</b>, dicha información se utilizara con la finalidad de que cada profesional de la salud conozca a
fondo el historial médico de cada paciente, así como la evolución patológica y tratamiento establecido en caso necesario.
Aceptando nuestra política de privacidad, usted está de acuerdo en que compartamos sus datos personales sensibles y/o no
sensibles con estos, solicitándoles que protejan dicha información y no la utilicen para fines distintos a los mencionados
anteriormente. Los datos  personales sensibles y/o no sensibles obtenidos por <b>CLINITEC</b> podrán ser compartidos en caso de
  requerimiento formal por parte de alguna autoridad competente.</p>

<p class="title">TIEMPO DE ALMACENAMIENTO Y TRATAMIENTO DE SUS DATOS</p>

<p class="body"><b>CLINITEC</b> procurara que los datos personales contenidos en las bases de datos sean pertinentes, correctos y actualizados
para los fines para los cuales fueron recabados.TRANSFERENCIA DE DATOS A TERCEROS
Le informamos que sus datos personales pueden ser transferidos, a los usuarios del sistema y tratados por los mismos,
dentro y fuera del país, quienes son personas distintas a esta empresa. En este sentido, su información puede ser
  compartida única y exclusivamente con usuarios del sistema <b>CLINITEC</b>. De acuerdo a lo establecido en la Ley Federal de
  Protección de Datos Personales, su reglamento y lineamientos que rigen el aviso de privacidad.</p>

<p class="body">En caso de estar de acuerdo y consentir dichas transferencias se especificara al final de este aviso de privacidad.</p>

<p class="title">MEDIOS PARA EL EJERCICIO DE SUS DERECHOS COMO TITULAR DE LOS DATOS PERSONALES</p>

<p class="body">Como titular de los datos personales objeto del presente Aviso de Privacidad usted podrá por sí o mediante representante
legal debidamente acreditado, ejercitar sus derechos de acceso, rectificación, cancelación u oposición. Así mismo, podrá
revocar el consentimiento o limitar el uso y divulgación de sus datos personales o de las finalidades para que se otorguen.
En cualquiera de estos supuestos, puede realizar su solicitud mediante el envío de un correo electrónico a la siguiente
  dirección. soporte@clinitec.com.mx.</p>

<p class="body">Si usted considera que su derecho de protección de datos personales ha sido lesionado por alguna conducta de nuestros
usuarios en el tratamiento de sus datos o existe alguna violación a las disposiciones previstas en la ley Federal de
Protección de Datos Personales en Posesión de los Particulares, podrá interponer la queja por correo y atenderemos su
  queja en un máximo de 20 días hábiles.</p>

<p class="title">PROTEGIENDO SU INFORMACIÓN</p>

<p class="body">Hacemos de su conocimiento que sus datos personales y datos personales sensibles y/o no sensibles serán resguardados
bajo estrictas medidas de seguridad administrativas, técnicas y físicas de confidencialidad, las cuales han sido
implementadas con el objeto de proteger sus datos personales contra daño, perdida, alteración, destrucción o el uso o
  acceso o tratamiento no autorizado.</p>

<p class="body"><b>CLINITEC</b> tiene estándares de control interno que se relacionan específicamente con el manejo de la información personal,
los cuales incluyen controles para ayudar a salvaguardar la información recolectada. Los usuarios de <b>CLINITEC</b> están
  capacitados para entender y cumplir con estos controles.</p>

<p class="body"><b>CLINITEC</b> almacenara su información personal en un servidor en E.U.A que cuenta con certificaciones de seguridad.
El portal web de <b>CLINITEC</b> puede conectar con ciertos links de otras páginas web que pertenecen a terceros sobre los que
  <b>CLINITEC</b> no tiene control alguno.</p>

<p class="body">En estos supuestos <b>CLINITEC</b> no asume responsabilidad alguna ni compromiso sobre las políticas de privacidad de la
  información contenidas en esas páginas.</p>

<p class="title">USO DE MECANISMOS EN MEDIOS REMOTOS O LOCALES DE COMUNICACIÓN.</p>

<p class="body">Las cookies son archivos de texto que son descargados automáticamente y almacenadas en el disco duro del equipo del
usuario al navegar en una página de internet específica, que permiten recordar al servidor de internet algunos datos
  sobre el usuario entre ellos sus preferencias para la visualización de las páginas en ese servidor, nombre y contraseña.</p>

<p class="body">Por su parte, las web-beacons son imágenes insertadas en una página de Internet o correo electrónico, que puede ser
utilizado para monitorear el comportamiento de un visitante, como almacenar información sobre la dirección de IP del
  usuario, duración del tiempo de interacción en dicha página y el tipo de navegador utilizado.</p>

<p class="body">Le informamos que utilizamos cookies y web-beacons para obtener información personal de usted, como su tipo de navegador
y sistema operativo; las páginas de internet que visita, los vínculos que sigue; la dirección IP y el sitio que visito
  antes de entrar al nuestro.</p>

<p class="body">En algunas secciones de nuestro sitio podemos requerir tener habilitadas las cookies para que nos permita reconocer el
momento de entrar a nuestro sitio y ofrecerle de una experiencia personalizada, conocer la configuración personal del
  sitio especificada por usted.</p>

<p class="body"><b>CLINITEC</b> puede llegar a establecer alianzas con terceros pudiendo ofrecer links directos a nuestros visitantes a
sitios web operados por esas empresas con el fin de ofrecerles información adicional, alternativas, oportunidades etc.
<b>CLINITEC</b> no es responsable de manera alguna, ni por el contenido ni por el manejo de la información que le puede
  proporcionar.</p>

<p class="body">Una vez que usted abandone el dominio de <b>CLINITEC</b> a través de dichos hiperenlaces es su responsabilidad verificar la
  política de privacidad, los términos y condiciones de dichos sitios web.</p>

<p class="title">MODIFICACIONES A ESTE AVISO DE PRIVACIDAD</p>

<p class="body"><b>CLINITEC</b> se reserva el derecho de modificar o actualizar el presente aviso de privacidad en cualquier momento, para
la adecuación y cumplimiento de las modificaciones legales o jurisprudenciales que, en su caso, sean aplicables, políticas
internas o nuevos requerimientos para la prestación u ofrecimiento de nuestros servicios o productos. El presente aviso y
sus modificaciones estarán disponibles en todo momento, el apartado de aviso de privacidad de nuestra página será autorizado
  con firma electrónica por los pacientes que se los solicitaran los profesionales de salud.</p>

<p class="body">Cuando se estime necesario se hará llegar las modificaciones a este aviso de privacidad individualmente a nuestros
  usuarios al correo electrónico que usted proporcione.</p>

<p class="title">AUTORIZACIÓN</p>

<p class="body">Esta declaración de privacidad está sujeta a la política de privacidad de <b>CLINITEC</b> lo cual constituye un acuerdo
  legal entre usted y <b>CLINITEC</b>. Del mismo modo, esta política de privacidad debe ser aceptada en caso de estar de acuerdo.</p>

<p class="body">Al navegar en cualquiera de los sitios <b>CLINITEC</b>, significa que ha leído entendido y está de acuerdo con los términos antes
  expuestos.</p>


<p class="body">Autorizo por mi voluntad, en pleno uso de mis facultades mentales y con plena capacidad legal de
  autorización a los administradores y usuarios del expediente clínico electrónico <b>CLINITEC</b>, a través del presente
  CONSENTIMIENTO INFORMADO el almacenamiento, uso y manejo de mis datos personales sensibles y no sensibles, con la
  finalidad de llegar a un adecuado diagnóstico y tratamiento; pudiendo compartir mis datos con los profesionales de la
  salud acreedores del servicio <b>CLINITEC</b>, para llevar a cabo un manejo multidisciplinario y una revisión generalizada
  de mi historia clínica sin difamación, entrega de datos personales a usuarios externos al sistema <b>CLINITEC</b>.</p>

<p class="body">1. INFORMACIÓN MEDICA: Reconozco que he sido debidamente informado (a) en lenguaje comprensible sobre
  los estatutos de privacidad de este sistema, así como la manera de difusión de mis datos personales sensibles y no
  sensibles entre los profesionales de la salud acreedores al sistema, con la única finalidad de conocer a fondo mis
  patologías así como tratamiento médicos e historia clínica.</p>
<p class="body">2. CAMBIOS EN LA INFORMACIÓN DEL EXPEDIENTE: Estoy de acuerdo en que la información está protegida por
  <b>CLINITEC</b> y que la única forma de hacerla llegar a externos (no acreedores al sistema), es con mi autorización y
  colaboración de los profesionales de  la salud.</p>
<p class="body">3. NO ACEPTACIÓN: En caso de no estar de acuerdo con la difusión  de los datos personales, historia
  clínica, diagnósticos y tratamientos con los usuarios del sistema. Se firmara la carta de no aceptación para que
  los datos no sean difundidos en <b>CLINITEC</b>.</p>
<p class="body">4. DECLARO Y CONSIENTO: Que todo esto se me ha explicado en lenguaje comprensible y sin ninguna
  coacción y ACEPTO lo expresado en este Consentimiento informado. También AFIRMO que se me han aclarado todas las
  dudas y estoy completamente satisfecho (a) de la información proporcionada, por lo que AUTORIZO al equipo de <b>CLINITEC</b>
  realizar el almacenamiento y manejo entre los usuarios del sistema <b>CLINITEC</b> y mis datos personales sensibles y/o no
  sensibles.</p>
<p class="body">5. RESTRUCTURACIÓN DE AVISO DE PRIVACIDAD: Estoy enterado (a) que pueden haber cambios en el aviso de
  privacidad de <b>CLINITEC</b> sin previo aviso y al firmar el presente reconozco mi obligación de revisar las modificaciones
  y actualizaciones al presente documento, las cuales he sido informado (a) estarán disponibles en la página del sistema
  <b>CLINITEC</b> en el apartado de aviso de privacidad, así mismo reconozco que las modificaciones no afectaran la autorización
  otorgada en este acto, más al contario las reconozco y acepto como complemento y extensión al mismo.</p>

