<div class="container-fluid animated fadeIn fast">
  <div class="row" *ngIf="!acceptTerminus">
    <div class="col-lg-4 col-md-6" *ngFor="let menu of _dashboardMenuService.menu; let i of index">
      <div class="card">
        <div class="body">
          <h3 [routerLink]=[menu.url]>{{menu.title}}</h3>
        </div>
      </div>
    </div>
  </div>


  <div class="container" *ngIf="acceptTerminus">
    <div class="card">
      <div class="body">
        <app-firm (acceptTerminus)="acceptTerminusChange($event)"></app-firm>
      </div>
    </div>
  </div>
</div>


