<div class="card margintopForm">
  <div class="body">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-heading text-uppercase">Datos del paciente</h3>
      </div>
    </div>

    <form [formGroup]="form">
      <div class="row">
        <div class="col-sm-6 form-group">
          <div class="form-group">
            <label>Nombre:</label>
            <input type="text" class="form-control" id="nom_paciente"
                   formControlName="Nombre">
          </div>

          <div class="form-group">
            <label>Apellidos:</label>
            <input type="text" class="form-control" id="ap_paciente"
                   formControlName="Apellidos">
          </div>

          <div class="form-group">
            <label>Teléfono</label>
            <input type="text" class="form-control" id="tel_paciente"
                   formControlName="Telefono">
          </div>

          <div class="form-group">
            <label>Dirección</label>
            <input type="text" class="form-control"
                   formControlName="Direccion">
          </div>

        </div>

        <div class="col-sm-6 form-group">
          <div class="form-group">
            <label>Genero</label>
            <select class="form-control show-tick"
                    formControlName="Sexo">
              <option value="MASCULINO">Masculino</option>
              <option value="FEMENINO">Femenino</option>
            </select>
          </div>

          <div class="form-group">
            <label>Edad</label>
            <input type="text" class="form-control"
                   formControlName="Edad">
          </div>

          <div class="form-group">
            <label>Estado civil</label>
            <input type="text" class="form-control"
                   formControlName="Estado_civil">
          </div>

          <div class="form-group">
            <label>Tipo de Sangre</label>
            <input type="text" class="form-control"
                   formControlName="Tipo_sangre">
          </div>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 class="section-heading text-uppercase mt-3">Datos del sistema</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label>Email: </label>
                <input class="form-control" type="email" placeholder="Email" formControlName="Email">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Contraseña: </label>
                <input class="form-control" type="password" placeholder="Contraseña" formControlName="Password">
              </div>
            </div>

          </div>
        </div>

        <div class="col-sm-12">
          <div class="row align-items-end justify-content-between">
            <div class="col-4">
              <button type="button" class="btn btn-danger" (click)="resetForm()">Cancelar</button>
            </div>
            <div class="col-4">
              <button type="button" class="btn btn-primary float-right" (click)="confirm()">Guardar</button>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>

